.DS_Store
*.swp
._*
.idea
*.iml
selenium-server-standalone.jar
test-results.xml
*.pyc
*.mo
clover*
test-results*
_trial*
selenium_*.log
.Python
bin
include
lib
selenium
results
chromedriver
virtualenv
venv

